<section class=" pt-5 bg-white" style="padding-bottom: 100px;">
  <br />
  <h1 class="text-center mt-5 p-4"></h1>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <form method="post" action="/replay/{{this.userId}}">
          <div class="row">
           
          <div class="form-group">
            <label for="inputAddress2">Message</label>
            <textarea
              class="form-control"
              name="message"
              cols="30"
              rows="10"
              id="inputAddress2"
              placeholder="Type Your Message here.."
              required
            ></textarea>
          </div>
          <div class="form-group text-center">
            <button
              type="submit"
              class="btn btn-primary"
              style="width: 100%;"
            >Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</section>