
<footer class="footer p-4" style="background-color:#0c0c33;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-white">
              <a href="https://www.instagram.com/sportsroundups_?igsh=NXNpeTcydGZhM2Fp" style="text-decoration: none;color: white;">
              <i class="bi bi-instagram" style="color: #ff0000;"></i>
              </a>
              <a href="https://www.linkedin.com/in/nitheesh-b-432186270" style="text-decoration: none;color: white;">
              <i class="bi bi-linkedin" style="color: #ff0000;"></i> 
              </a>
              <a href="https://www.instagram.com/sportsroundups_?igsh=NXNpeTcydGZhM2Fp" style="text-decoration: none;color: white;">
              <i class="bi bi-facebook" style="color: #ff0000;"></i>
              </a>
              </a>
              <a href="https://x.com/SRoundupsglobal?t=R1RGCbODGYc4UNZtGo4OYw&s=09" style="text-decoration: none;color: white;">
              <i class="bi bi-twitter" style="color: #ff0000;"></i>
              </a>
              <p style="color: #ff0000;">Copyrights©</p>
                
            </div>
        </div>
    </div>
</footer>